
	<table class="table table-bordered table-condensed table-striped table-responsive table-hover">
	
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>isAvailable</th>
			<th></th>
			<th></th>
		</tr>
		
		<tr ng-repeat="product in products">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.isAvailable}}</td>
			<td><a href='#/edit/{{product.id}}'><span class="glyphicon glyphicon-edit"></span></a></td>
			<td><a href ng-click="remove(product.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
			
		</tr>
	
	</table>
