<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>App</title>
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
.ng-scope {
	border: 1px solid red;
	padding: 5px;
}

div {
	margin: 5px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href>App</a>
			</div>
			<div>
				<ul class="nav navbar-nav pull-right">
					<li><a href><span class="glyphicon glyphicon-home"></span>Home</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" ng-app="App">

		<div class="page-header">Angular Scopes</div>

		{{message}}
		<button ng-click="changeMessage()">Change Message</button>

		<div ng-controller="ExController">
			{{message}}
			<button ng-click="changeMessage()">Change Message</button>
			
			<div ng-controller="ExController">
			{{message}}
			<button ng-click="changeMessage()">Change Message</button>
		    </div>
			
		</div>

		<div ng-controller="ExController">
			{{message}}
			<button ng-click="changeMessage()">Change Message</button>
		</div>

	</div>



	<script type="text/javascript" src="angular-1.4.6/angular.js"></script>

	<script type="text/javascript">
		var app = angular.module('App', []);
		app.run(function($rootScope) {
			$rootScope.message = "Root-Scope message"
			$rootScope.changeMessage = function() {
				$rootScope.message = "Root-Scope message-New"
			}
		})

		app.controller('ExController', function($scope) {
			//$scope.message = "ExController Message"
			$scope.changeMessage = function() {
				$scope.message = "ExController Message-New"
			}
		});
	</script>


</body>
</html>